<style>
  .toto {
    position: absolute;
    background-color: black;
    top: 52px;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .error{
    color: white;
    text-align: center;
    margin-top: 250px;
    font-size: 100px;
  }
  .info {
    color: white;
    text-align: center;
    font-size: 100px;
  }
  button {
    text-align: center;
  }
</style>
<body class="toto">
<div class="error">404</div>

<div class="info">Not Found !</div>

<div class="text-center">
  <button class="btn btn-success" routerLink="/books">Go Home ! :)</button>
</div>

</body>
